{% extends '::base.html.twig' %}

{% block body %}

    <br>
    <div class="row no-margin">
        {{ form_start(form, {'attr': {'class': 'form-inline'} }) }}
            <div class="form-group">
                {{ form_label(form.year) }}
                <div class="input-group">
                    {{ form_widget(form.year) }}
                    {{ form_errors(form.year) }}
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success" style="margin-left: 7px;">Показати</button>
            <div class="pull-right">
                <a href="{{ path('cto_jobs_home') }}" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Назад</a>
            </div>
        {{ form_end(form) }}
    </div>
    <hr>
    <div class="row">
        {% for result in results %}

            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div style="padding: 0 5px;">
                    <h3 style="margin-top: 0;">{{ result['date'] | date('F, Y') | monthTranslate }}</h3>
                    <div class="well well-lg">
                        <p><span class="font-bolder">Виконано завдань: </span>{{ result['jobsCount'] }} </p>
                        <p><span class="font-bolder">Відремонтовано автомобілів: </span>{{ result['repairCars'] }}</p>
                        <p><span class="font-bolder">Зароблено:</span> {{ result['money'] | number_format(2, '.', ',') }} грн.</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}
