<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>CTO {% block title %}{% endblock title %}</title>
    <link href="{{ asset('css/vendors.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet" type="text/css" />
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

{% block menu %}
    {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
        {% include "::ctoMenu.html.twig" %}
    {% endif %}
{% endblock menu %}

<div class="container">

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            {% block breadcrumbs %}{% endblock breadcrumbs %}
        </div>
    </div>

    {% for flashType in app.session.flashbag.keys %}
        {% for flash in app.session.flashbag.get(flashType) %}
            <div class="alert alert-{{ flashType }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ flash }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}
    {% endblock body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="footer-nav">
            <h4 class="text-center">
                This is footer
            </h4>
        </div>
    {% endif %}
</div>

<script src="{{ asset('js/vendors.min.js') }}"></script>
{% block javascripts %}{% endblock javascripts %}
</body>
</html>
