{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                Поточний місяць: {{ now | date('F, Y') | monthTranslate }}
                <div class="pull-right">
                    <a href="{{ path('cto_jobs_new') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Нове завдання</a>
                    <a href="#" class="btn btn-sm btn-success" id="addEvent"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Нова подія</a>
                </div>
            </h3>
            <br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">

            <div class="well well-lg">
                <p><span class="font-bolder">Виконано завдань: </span>{{ jobsCount }} </p>
                <p><span class="font-bolder">Відремонтовано автомобілів: </span>{{ repairCars }}</p>
                <p><span class="font-bolder">Зароблено:</span> {{ money | number_format(2, '.', ',') }} грн.</p>
            </div>
            <a href="{{ path('cto_finance_archive', {'year': 'now' | date('Y') }) }}">Фінансовий архів.</a>

        </div>
        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
            <div id="calendar"></div>
        </div>
    </div>

    <!-- Modal for add event -->
    <div class="modal fade" id="addEventForm" tabindex="-1" role="dialog" aria-labelledby="addCarToClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Додати нову подію:</h4>
                </div>
                <div class="modal-body">
                    <div class="margin-bottom-15">
                        <label for="event_client">Клієнт:</label>
                        <select id="event_client" name="eventClient" class="selectpicker" data-width="100%" data-size="15" data-live-search="true">
                        </select>
                    </div>
                    <div class="margin-bottom-15">
                        <label for="event_client_car">Автомобіль:</label>
                        <select id="event_client_car" name="eventClientCar" class="selectpicker" data-width="100%" data-size="15" data-live-search="true">
                        </select>
                    </div>
                    <div class="margin-bottom-15">
                        <label for="event_message">Опис:</label>
                        <textarea id="event_message" name="eventMessage" class="form-control"></textarea>
                    </div>
                    <div class="margin-bottom-15">
                        <label for="client_carEngine">Початок:</label>
                        <input type="text" id="event_start" name="eventStart" class="form-control event-date-picker">
                    </div>
                    <div class="margin-bottom-15">
                        <label for="event_end">Кінець:</label>
                        <input type="text" id="event_end" name="eventEnd" class="form-control event-date-picker">
                    </div>
                    <div class="margin-bottom-15 text-center">
                        <button class="btn btn-success" id="addEventButtonSubmit">Додати подію</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for show DAY POPUP info -->
    <div class="modal fade" id="showDayInfo" tabindex="-1" role="dialog" aria-labelledby="showEventInfo" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Дата</h4>
                </div>
                <div class="modal-body">
                    <table class="table day-info">
                        <thead>
                            <th>Час</th>
                            <th>Ремонт</th>
                            <th>Покраска</th>
                        </thead>
                        <tbody>
                            <tr data-time="7">
                                <td>07.00</td>
                                <td>fgfdgfdfdg s gsfg sg sdf gdsfg gsgf</td>
                                <td>gh  sdf gsdfg sfg sgg sdfg </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascripts %}
<script>
    jQuery(function ($) {

        var addEventClientFormModal = $('#event_client');
        var addEventClientCarFormModal = $('#event_client_car');
        var addEventMessageFormModal = $('#event_message');
        var addEventStartFormModal = $('#event_start');
        var addEventEndFormModal = $('#event_end');

        var addEventSubmitBtnModalForm = $('#addEventButtonSubmit');

        var getClientsUrl = Routing.generate('ajax_cto_get_clients');
        var getEventsUrl = Routing.generate('ajax_cto_get_events');

        var events = [];

        var returnUrl = Routing.generate('cto_jobs_home', {}, true);

        addEventSubmitBtnModalForm.click(function(){
            var url = Routing.generate("cto_new_event_fromJSONFORM");

            var values = {
                "event": {
                    "client": addEventClientFormModal.val(),
                    "car": addEventClientCarFormModal.val(),
                    "description": addEventMessageFormModal.val(),
                    "startAt": addEventStartFormModal.val() ,
                    "endAt": addEventEndFormModal.val()
                }
            };

            $.post(url, JSON.stringify(values))
                    .success(function (response) {
                        window.location.replace(returnUrl);
                    })
                    .error(function(error){
                        console.log(error);
                    });
        });

        function getClientCars(clientId)
        {
            var carPath = Routing.generate('ajax_cto_cars_from_client', { "id": clientId });
            $.get(carPath)
                    .success(function(response){
                        addEventClientCarFormModal.html('');
                        if (response.cars.length > 0) {
                            $.each(response.cars, function(key, value){
                                addEventClientCarFormModal.append('<option value="' + value.id + '">' + value.name + '</option>');
                            });
                        } else {
                            addEventClientCarFormModal.append('<option value="" disabled="disabled">Клієнт не має автомобілів.</option>');
                        }
                        addEventClientCarFormModal.selectpicker('refresh');
                    })
                    .error(function(error){
                        console.log(error);
                    })
            ;
        }

        $.get(getClientsUrl)
                .success(function(responseClient){
                    addEventClientFormModal.html('');
                    if (responseClient.clients.length > 0) {
                        $.each(responseClient.clients, function(key, value){
                            addEventClientFormModal.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                        getClientCars(responseClient.clients[0].id);
                    } else {
                        addEventClientFormModal.append('<option value="" disabled="disabled">Клієнтів не знайдено.</option>');
                    }
                    addEventClientFormModal.selectpicker('refresh');
                })
                .error(function(error){
                        console.log(error);
                })
            ;

        addEventClientFormModal.change(function(){
            var val = $(this).val();
            getClientCars(val);
        });

        $('#addEvent').on('click', function(event){
            event.preventDefault();

            $('#addEventForm').modal('show');
        });

        $("input[type=text].event-date-picker").datetimepicker();

        $.get(getEventsUrl)
                .success(function(response){
                    response.events.forEach(function(event){
                        events.push({
                            "title": event.description,
                            "start": event.start.date,
                            "end":  event.end.date,
                            "url":  Routing.generate('cto_show_event', {id: event.id}, true)
                        });
                    });

                    $("#calendar").fullCalendar({
                        header: {
                            left:   'title',
                            center: '',
                            right:  'month, basicWeek, agendaDay, dayView, prev,next'
                        },
                        views: {
                            month: { // name of view
                                titleFormat: 'MMMM YYYY'
                            },
                            basicWeek: { // name of view
                                titleFormat: 'MMMM YYYY'
                            },
                            basicDay: { // name of view
                                titleFormat: 'MMMM YYYY',
                            }
                        },
                        columnFormat: {
                            month: 'dddd'
                        },
                        lang: 'uk',
                        height: 470,
                        dayClick: function(date, jsEvent, view) {
                            $('#showDayInfo').modal('show');
                            var getEventsByDateUrl = Routing.generate('ajax_cto_get_events_by_date', { date: date.format('DD-MM-YYYY') });
                            $.get(getEventsByDateUrl)
                                    .success(function(response){
                                        console.log(response);
                                    })
                                    .error(function(error){
                                        console.log(error);
                                    })
                            ;
                        },
                        dayRender: function(date, cell){
//                            console.log('day ' + date);
//                            console.log('cell ' + date);
                        },
                        events: events
                    });
                })
                .error(function(error){
                    console.log(error);
                })
        ;
    });
</script>
{% endblock javascripts %}
