{% extends '::base.html.twig' %}
{% block stylesheets %}
<style>

</style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>
                {{ title }}:
                <div class="pull-right">
                    <a href="{{ path('cto_jobs_list') }}" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Назад</a>
                </div>
            </h3>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div id="custom_form">
                <form></form>
                <div id="res"><div class="well well-sm text-center"><i class="fa fa-spinner fa-pulse"></i>&nbsp;&nbsp;Завантаження форми ...</div></div>
            </div>
            <br><br>
        </div>
    </div>

    <!-- Modal for create new client -->
    <div class="modal fade" id="createClientModal" tabindex="-1" role="dialog" aria-labelledby="createClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Новий клієнт:</h4>
                </div>
                <div class="modal-body">
                    {{ render(path('cto_client_new_from_modal', {'back': back })) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for add car to client -->
    <div class="modal fade" id="addCarToClientModal" tabindex="-1" role="dialog" aria-labelledby="addCarToClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Додати автомобіль поточному клієнту:</h4>
                </div>
                <div class="modal-body">
                    <div class="margin-bottom-15">
                        <label for="carsForClientInModalForm">Модель автомобіля:</label>
                        <select id="carsForClientInModalForm" name="carModels" class="selectpicker" data-width="100%" data-size="15" data-live-search="true">
                        </select>
                    </div>
                    <div class="margin-bottom-15">
                        <label for="client_carNumber">Номер автомобіля:</label>
                        <input type="text" id="client_carNumber" name="carNumber" class="form-control">
                    </div>
                    <div class="margin-bottom-15">
                        <label for="client_carColor">Колір автомобіля:</label>
                        <input type="text" id="client_carColor" name="carColor" class="form-control">
                    </div>
                    <div class="margin-bottom-15">
                        <label for="client_carEngine">Об'єм двигуна (л.):</label>
                        <input type="text" id="client_carEngine" name="carEngine" class="form-control">
                    </div>
                    <div class="margin-bottom-15">
                        <label for="client_carVinCode">VIN код:</label>
                        <input type="text" id="client_carVinCode" name="carVinCode" class="form-control">
                    </div>
                    <div class="margin-bottom-15">
                        <label for="client_carYear">Рік випуску:</label>
                        <input type="text" id="client_carYear" name="carYear" class="form-control">
                    </div>
                    <div class="margin-bottom-15 text-center">
                        <button class="btn btn-success" id="addCarToClientButtonSubmit">Додати автомобіль</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Назад</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
{#<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
{#<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>#}

<script>
    jQuery(function ($) {

        clientKeys = ["1"];
        clientObj = {"1": "Завантаження ... "};
        categoryKeys = [];
        categoryObj = {};
        var res = $("#res");

        var formSchema = {
            "schema": {
                "car_job": {
                    "type": "object",
                    "properties": {

                        "client": {
                            "type": "string",
                            "title": "Клієнт",
                            "enum": clientKeys
                        },
                        "car": {
                            "type": "string",
                            "title": "Авто клієнта",
                            "enum": clientKeys
                        },
                        "jobDate": {
                            "type": "string",
                            "title": "Дата ремонту",
                            "default": moment().format("DD.MM.YYYY")
                        },
                        "carCategories": {
                            "type": "array",
                            "title": "Завдання",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "jobCategory": {
                                        "type": "string",
                                        "title": "Категорія завдання",
                                        "enum": categoryKeys
                                    },
                                    "jobDescriptions": {
                                        "type": "array",
                                        "items": {
                                            "type": "object",
                                            "properties": {
                                                "description": {
                                                    "type": "string",
                                                    "title": "Опис",
                                                    "required": true
                                                },
                                                "price": {
                                                    "type": "number",
                                                    "title": "Ціна",
                                                    "required": true
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "spendingJob": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "title": "Опис",
                                        "required": true
                                    },
                                    "price": {
                                        "type": "number",
                                        "title": "Ціна",
                                        "required": true
                                    }
                                }
                            }
                        },
                        "usedMaterialsJob": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "title": "Опис",
                                        "required": true
                                    },
                                    "price": {
                                        "type": "number",
                                        "title": "Ціна",
                                        "required": true
                                    }
                                }
                            }
                        },
                        "paidSalaryJob": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "description": {
                                        "type": "string",
                                        "title": "Кому",
                                        "required": true
                                    },
                                    "price": {
                                        "type": "number",
                                        "title": "Сума",
                                        "required": true
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "form": [
                {
                    "type": "button",
                    "title": "<i class='fa fa-plus'></i>&nbsp;&nbsp;<i class='fa fa-user'></i>",
                    "onClick": function(e, values){
                        e.preventDefault();

                        var addClientModalWindow = $("#createClientModal");
                        addClientModalWindow.modal('show');

                    }
                },
                {
                    "type": "button",
                    "title": "<i class='fa fa-plus'></i>&nbsp;&nbsp;<i class='fa fa-car'></i>",
                    "onClick": function(e){
                        e.preventDefault();

                        var addCarModalWindow = $("#addCarToClientModal");
                        if (clients.val() == "") {
                            alert("Спочатку виберіть клієнта");
                        } else {
                            addCarModalWindow.modal('show');
                        }

                        addCarModalFormSubmitBtn.click(function(){
                            var url = Routing.generate("cto_client_addCarToClient_from_modal", {"clientId": clients.val()});
                            $.post(url,
                                {"model": {
                                    "modelId": addCarModalFormSelect.val(),
                                    "carNumber": addCarModalFormCarNumber.val(),
                                    "carColor": addCarModalFormCarColor.val(),
                                    "carEngine": addCarModalFormCarEngine.val(),
                                    "carVinCode": addCarModalFormCarVinCode.val(),
                                    "carYear": addCarModalFormCarYear.val()
                                    }
                                }
                            )
                            .success(function (response) {
                                if (response.status == 'ok') {
                                    cars.append('<option value="' + response.carId + '" selected>' + response.carName + '</option>');
                                } else {
                                    alert('Помилка. Автомобіль не доданий!');
                                }
                                addCarModalWindow.modal('hide');
                                addCarModalFormSelect.val(1);
                                addCarModalFormSelect.selectpicker('refresh');
                                addCarModalFormCarNumber.val('');
                                addCarModalFormCarColor.val('');
                                addCarModalFormCarEngine.val('');
                                addCarModalFormCarVinCode.val('');
                                addCarModalFormCarYear.val('');
                                cars.selectpicker('refresh');
                            })
                            .error(function(error){
                                console.log(error);
                            });
                        });

                    }
                },
                {
                    "key": "car_job.client",
                    "titleMap": clientObj
                },
                {
                    "key": "car_job.car",
                    "titleMap": clientObj
                },
                {
                    "key": "car_job.jobDate",
                    "htmlClass": "clearfix",
                    "fieldHtmlClass": "jod-date-picker"
                },
                {
                    "type": "array",
                    "title": "<h4 class='text-center'>Зроблена робота:</h4>",
                    "description": "Блок для СТО.",
                    "items": {
                        "type": "section",
                        "items": [
                            {
                                "key": "car_job.carCategories[].jobCategory",
                                "titleMap": categoryObj
                            },
                            {
                                "type": "array",
                                "items": [
                                    "car_job.carCategories[].jobDescriptions[]"
                                ]
                            }
                        ]
                    }
                },
                {
                    "type": "array",
                    "title": "<h4 class='text-center'>Затрачено на деталі:</h4>",
                    "htmlClass": "margin-bottom-15",
                    "items": {
                        "type": "section",
                        "HtmlClass": "zzz",
                        "items": [
                            {
                                "key": "car_job.spendingJob[].description"
                            },
                            {
                                "key": "car_job.spendingJob[].price"
                            }
                        ]
                    }
                },
                {
                    "type": "array",
                    "title": "<h4 class='text-center'>Затрачено на метеріали:</h4>",
                    "htmlClass": "margin-bottom-15",
                    "items": {
                        "type": "section",
                        "items": [
                            {
                                "key": "car_job.usedMaterialsJob[].description"
                            },
                            {
                                "key": "car_job.usedMaterialsJob[].price"
                            }
                        ]
                    }
                },
                {
                    "type": "array",
                    "title": "<h4 class='text-center'>Виплачена зарплата:</h4>",
                    "htmlClass": "margin-bottom-15",
                    "items": {
                        "type": "section",
                        "items": [
                            {
                                "key": "car_job.paidSalaryJob[].description"
                            },
                            {
                                "key": "car_job.paidSalaryJob[].price"
                            }
                        ]
                    }
                },
                {
                    "type": "section",
                    "items": [
                        {
                            "type": "submit",
                            "title": "Створити"
                        }
                    ]
                }
            ],
            onSubmit: function(errors, values){

                /////////////////////////////////////////////////////////////////
                var checkEmptyCat = false;
                var doubleCheck = false;
                values.car_job.carCategories.forEach(function(el){

                    if (el.jobDescriptions) {
                        checkEmptyCat = true;
                    } else {
                        checkEmptyCat = false;
                        doubleCheck = true;
                    }
                });

                if (!checkEmptyCat || doubleCheck) {
                    res.html('<div class="alert alert-danger" role="alert">Категорія завдання не повинна бути пустою.</div>');

                    return;
                }
                /////////////////////////////////////////////////////////////////

                var submitUrl = Routing.generate('cto_jobs_new_fromJSONFORM');

                if (errors) {
                    var subm = false;

                    $.each(errors, function(ind, val){
                        if (val.attribute == "type" && val.details[0] == "number") {
                            res.html('<div class="alert alert-danger" role="alert">Ціна повинна бути цифрою.</div>');

                            return;
                        }
                        subm = true;
                    });
                    if (subm) {
                        $.post(submitUrl, JSON.stringify(values))
                                .success(function(response){
                                    if (response.status == "ok") {
                                        var returnUrl = Routing.generate('cto_jobs_show', {"id": response.jid});
                                        window.location.replace(returnUrl);
                                    }
                                })
                                .error(function(error){
                                    console.log(error);
                                });
                    }
                } else {
                    $.post(submitUrl, JSON.stringify(values))
                        .success(function(response){
                            if (response.status == "ok") {
                                var returnUrl = Routing.generate('cto_jobs_show', {"id": response.jid});
                                window.location.replace(returnUrl);
                            }
                        })
                        .error(function(error){
                            console.log(error);
                        });
//                alert('Values object:\n' + JSON.stringify(values, null, 2));
//                console.log(values);
                }
            }
        };

        var formObj = $("#custom_form form");

        formObj.on("click", "input[type=text].jod-date-picker", function(){
            $(this).datepicker({
                format: "dd.mm.yyyy",
                orientation: "top left",
                todayBtn: true,
                clearBtn: true,
                language: "uk",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });
            $(this).datepicker('show');
        });

        var jobCategoriesUrl = Routing.generate('ajax_cto_get_jobCategories');
        $.get(jobCategoriesUrl)
            .success(function(response){
                if (response.categories.length > 0) {
                    $.each(response.categories, function(key, value){
                        categoryKeys.push(value.id);
                        categoryObj[value.id] = value.name;
                    });

                    res.html('');
                    formObj.jsonForm(formSchema);

                    clients = $(document.getElementById("jsonform-0-elt-car_job.client"));
                    cars = $(document.getElementById("jsonform-0-elt-car_job.car"));

                    var getClientsUrl = Routing.generate('ajax_cto_get_clients');
                    $.get(getClientsUrl)
                        .success(function(responseClient){
                            clients.html('');
                            if (responseClient.clients.length > 0) {
                                $.each(responseClient.clients, function(key, value){
                                    clients.append('<option value="' + value.id + '">' + value.name + '</option>');
                                });
                                getClientCars(responseClient.clients[0].id);
                            } else {
                                clients.append('<option value="" disabled="disabled">Клієнтів не знайдено.</option>');
                            }
                        })
                        .error(function(error){
                            console.log(error);
                        })
                    ;
                    clients.change(function(){
                        var val = $(this).val();
                        getClientCars(val);
                    });

                } else {
                    // no categories ?
                }
            })
            .error(function(error){
                console.log(error);
            })
        ;

        function getClientCars(clientId)
        {
            var carPath = Routing.generate('ajax_cto_cars_from_client', { "id": clientId });
            $.get(carPath)
                .success(function(response){
                    cars.html('');
                    if (response.cars.length > 0) {
                        $.each(response.cars, function(key, value){
                            cars.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    } else {
                        cars.append('<option value="" disabled="disabled">Клієнт не має автомобілів.</option>');
                    }
                })
                .error(function(error){
                    console.log(error);
                })
            ;
        }

        var addCarModalFormSelect = $("#carsForClientInModalForm"),
            addCarModalFormCarNumber = $("#client_carNumber"),
            addCarModalFormCarColor = $("#client_carColor"),
            addCarModalFormCarEngine = $("#client_carEngine"),
            addCarModalFormCarVinCode = $("#client_carVinCode"),
            addCarModalFormCarYear = $("#client_carYear"),
            addCarModalFormSubmitBtn = $("#addCarToClientButtonSubmit");

        function getAllCarModels()
        {
            var url = Routing.generate("cto_models_getAllListForModal");
            $.post(url)
                .success(function(response){
                    addCarModalFormSelect.html('');
                    if (response.models.length > 0) {
                        $.each(response.models, function(key, value){
                            addCarModalFormSelect.append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    } else {
                        addCarModalFormSelect.append('<option value="" disabled="disabled">Моделей не знайдено.</option>');
                    }
                    addCarModalFormSelect.selectpicker('refresh');
                })
                .error(function(error){
                   console.log(error);
                })
            ;
        }
        getAllCarModels();

    }); // jQuery end
</script>
{% endblock javascripts %}
