{% extends '::base_print.html.twig' %}

{% block stylesheets %}
<style>
    body {
        padding-top: 20px;
    }
</style>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="text-left">
                <h4>{{ job.client.cto.ctoName }}</h4>
            </div>
            <div class="text-left">
                {{ job.client.cto.addressCto }}
            </div>
        </div>
        <div class="col-md-offset-4 col-lg-offset-4 col-md-4 col-lg-4">
            <div class="text-right">
               Тел: {{ job.client.cto.phone }}
            </div>
            {% if job.client.cto.phone2 != "" %}
                <div class="text-right">
                    Тел: {{ job.client.cto.phone2 }}
                </div>
            {% endif %}
            {% if job.client.cto.phone3 != "" %}
                <div class="text-right">
                    Тел: {{ job.client.cto.phone3 }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <br>
            <div class="text-center">
                <h3>АКТ ВИКОНАНИХ РОБІТ</h3>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
            <div class="text-center">
                <table class="table" width="100%">
                    <tr>
                        <td width="25%" class="text-center"><b>Марка авто</b></td>
                        <td width="75%">
                            {{ job.car.model.name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><b>Номер авто</b></td>
                        <td>
                            {{ job.car.carNumber }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center"><b>Пробіг, км</b></td>
                        <td>{{ job.totalMileage }}</td>
                    </tr>
                    <tr><td></td><td></td></tr>
                </table>
            </div>
        </div>
    </div>
    {#<br>#}
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Найменування робіт, запчастини</th>
                        <th class="text-center">Ціна н/г</th>
                        <th class="text-center">Кількість н/г</th>
                        <th class="text-center">Сумма, грн</th>
                    </tr>
                </thead>
                <tbody>
                    {% set ind = 1 %}
                    {% set total = 0 %}
                    {% for category in job.carCategories %}

                        {% for description in category.jobDescriptions %}
                            <tr>
                                <td>{{ ind }}</td>
                                <td>
                                    {{ category.jobCategory.name }}:
                                    {{ description.description }}
                                </td>
                                <td class="text-center">
                                    {% if category.jobCategory.normHours %}
                                        {{ category.jobCategory.normHoursPrice }}
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if category.jobCategory.normHours %}
                                        {{ description.price }}
                                    {% else %}
                                        X
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if category.jobCategory.normHours %}
                                        {{ category.jobCategory.normHoursPrice * description.price }}
                                        {% set total = total + category.jobCategory.normHoursPrice * description.price %}
                                    {% else %}
                                        {{ description.price }}
                                        {% set total = total + description.price %}
                                    {% endif %}
                                </td>
                            </tr>
                            {% set ind = ind + 1 %}
                        {% endfor %}
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-right"><b>Всього до оплати:</b></td>
                        <td class="text-center"><b>{{ total }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-lg-5">
            <div>
                Вищевказане підтверджую. Претензій до термінів виконання, якості та об`єму робіт і матеріалів,
                стану автомобіля (іншого ДТЗ) не маю. Оригінал акту проведених робіт отримав:<br><br>
                ___________ ______________________  (Підпис замовника)
            </div>
        </div>
        <div class="col-md-offset-3 col-lg-offset-3 col-md-4 col-lg-4">
            <div>
                <span>
                    ОПЛАТА:<br>
                    (печатка, дата) _________________
                    <br><br>
                    ВИКОНАВЕЦЬ:<br>
                    (печатка, підпис) _________________
                </span>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>

        document.addEventListener("DOMContentLoaded", function(e) {
            window.print();
        });

    </script>
{% endblock %}
