<div class="tab-pane fade in active" id="planned">

    <div class="row no-margin">
        <table class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>
                    #
                </th>
                <th class="notification-to">
                    Кому
                </th>
                <th class="notification-when">
                    Коли
                </th>
                <th>
                    Повідомлення
                </th>
                <th>
                    Категорія
                </th>
                <th class="notification-action text-center">
                    Дія
                </th>
            </tr>
            </thead>
            <tbody>
            {% for plannedItem in planned %}
                <tr>
                    <td style="vertical-align: middle;">
                        {{ plannedItem.id }}
                    </td>
                    <td style="vertical-align: middle;">
                        {% if plannedItem.type == constant('CTO\\AppBundle\\Entity\\Notification::TYPE_BROADCAST') %}
                            <span title="Розсилка"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;</span>
                            <span data-toggle="tooltip" data-placement="left" title="{{ plannedItem.broadcastTo | userNames }}" class="broadcast-tooltip">Розсилка</span>
                        {% elseif plannedItem.type == constant('CTO\\AppBundle\\Entity\\Notification::TYPE_NOTIFICATION') %}
                            <span title="Нагадування">&nbsp;&nbsp;<i class="fa fa-info"></i>&nbsp;&nbsp;</span>
                            <a href="{{ path('cto_client_show', {'slug': plannedItem.clientCto.slug}) }}">{{ plannedItem.clientCto.fullName }}</a>
                        {% elseif plannedItem.type == constant('CTO\\AppBundle\\Entity\\Notification::TYPE_RECOMMENDATION') %}
                            <span title="Рекомендація">&nbsp;<i class="fa fa-pinterest-p"></i>&nbsp;&nbsp;</span>
                            <a href="{{ path('cto_client_show', {'slug': plannedItem.clientCto.slug}) }}">{{ plannedItem.clientCto.fullName }}</a>
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle;">
                        {{ plannedItem.whenSend | date('d.m.Y H:i') }}
                    </td>
                    <td style="vertical-align: middle;">
                        {{ plannedItem.description }}
                    </td>
                    <td style="vertical-align: middle;">
                        {% if plannedItem.jobCategory.name is defined %}
                            {{ plannedItem.jobCategory.name }}
                        {% endif %}
                    </td>
                    <td style="vertical-align: middle;">
                        {% if plannedItem.type != constant('CTO\\AppBundle\\Entity\\Notification::TYPE_BROADCAST') %}
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('cto_notification_skip', {'id': plannedItem.id}) }}" class="btn btn-default" title="Скасувати" onclick="return confirm('Ви впевнені?');">&nbsp;&nbsp;<i class="fa fa-times"></i>&nbsp;&nbsp;</a>
                                <a href="{{ path('cto_notification_edit', {'id': plannedItem.id}) }}" class="btn btn-default" title="Редагувати">&nbsp;&nbsp;<i class="fa fa-pencil"></i>&nbsp;&nbsp;</a>
                                <a href="{{ path('cto_notification_copy', {'id': plannedItem.id}) }}" class="btn btn-default" title="Копіювати">&nbsp;&nbsp;<i class="fa fa-files-o"></i>&nbsp;&nbsp;</a>
                            </div>
                        {% else %}
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('cto_notification_skip', {'id': plannedItem.id}) }}" class="btn btn-default" title="Скасувати" onclick="return confirm('Ви впевнені?');">&nbsp;&nbsp;<i class="fa fa-times"></i>&nbsp;&nbsp;</a>
                                <a href="{{ path('cto_notification_broadcastEdit', {'id': plannedItem.id}) }}" class="btn btn-default" title="Редагувати">&nbsp;&nbsp;<i class="fa fa-pencil"></i>&nbsp;&nbsp;</a>
                                <a href="{{ path('cto_notification_broadcastCopy', {'id': plannedItem.id}) }}" class="btn btn-default" title="Копіювати">&nbsp;&nbsp;<i class="fa fa-files-o"></i>&nbsp;&nbsp;</a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <div class="text-center">
            {{ knp_pagination_render(planned) }}
        </div>
    </div>

</div>