{{ form_start(form, {'attr': {'novalidate': 'novalidate'}, 'action': path('cto_client_new_from_modal', {'back': back }) }) }}
<div class="error-handling">
    {{ form_label(form.firstName) }}
    {{ form_widget(form.firstName) }}
    {{ form_errors(form.firstName) }}
</div>
<div class="error-handling">
    {{ form_label(form.lastName) }}
    {{ form_widget(form.lastName) }}
    {{ form_errors(form.lastName) }}
</div>
<div class="error-handling">
    {{ form_label(form.phone) }}
    <div class="input-group">
        <div class="input-group-addon">+38</div>
        {{ form_widget(form.phone) }}
    </div>
    {{ form_errors(form.phone) }}
</div>
<br>
<div class="text-center">
    <button type="submit" class="btn btn-success">Створити</button>
</div>
<div class="hidden">
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}

